
<div class="container prologue-area">
        
        
        <div class="row">
        
        <div class="col-sm-5"><div id="top-image">ここでアカウント作成</div></div>

        <div class="col-sm-7">
          <h1>映画とアニメの評論コミュニティ。</h1>
        <p>人生を変えるきっかけになった作品、みると安らぎを与えてくれる作品、
        自分がこれまで見てきたアニメ・映画などの作品の感想を共有しましょう。
        いますぐReviewを始めれば今夜みたい作品がきっと見つかるはずです。</p>
        <p><a class="btn btn-lg midashi-btn" role="button">Reviewをはじめる &raquo;</a></p>
        <p><a class="btn btn-lg midashi-btn" role="button">Reviewについてもっと知りたい &raquo;</a></p>
        </div>
        </div>
</div>
<div class="container balloon-area">


   <h2>今注目されているバルーン</h2>


   <div class="row">
     <div class="col-sm-12">この映画以上に人生について考えさせられる映画はない。</div>
     <div class="col-sm-2"><font color="blue">Good：257</font>　<font color="red">Bad：257</font></div><div class="col-sm-4">作品タイトル：ウルフ・オブ・ウォールストリート</div><div class="col-sm-3">ジャンル：ヒューマンドラマ・ビジネス</div><div class="col-sm-3">投稿者：なきにしも・アラブ</div>
   </div>
   
   <div class="row">
     <div class="col-sm-12">オリジナルキャストのヴィン･ディーゼルとポール･ウォーカーがミシェル･ロドリゲスとジョーダナ･ブリュースターと再び顔を揃えた『ワイルド･スピード』シリーズの究極編!</div>
     <div class="col-sm-2"><font color="blue">Good：257</font>　<font color="red">Bad：257</font></div>
     <div class="col-sm-4">作品タイトル：ワイルド･スピードMAX</div>
     <div class="col-sm-3">ジャンル：ヒューマンドラマ・ビジネス</div>
     <div class="col-sm-3">投稿者：Koh</div>
   </div>
   
   <div class="row">
     <div class="col-sm-12">それは、過去にニ度も世界を滅亡の危機に至らしめた、“メガ･シャーク”であった。</div>
     <div class="col-sm-2"><font color="blue">Good：257</font>　<font color="red">Bad：257</font></div><div class="col-sm-4">作品タイトル：メガ･シャーク vs メカ･シャークト</div><div class="col-sm-3">ジャンル：シャーク・スリラー</div><div class="col-sm-3">投稿者：ポンディー</div>
   </div>
   
   <div class="row">
     <div class="col-sm-12">この映画以上に人生について考えさせられる映画はない。</div>
     <div class="col-sm-4">作品タイトル：ウルフ・オブ・ウォールストリート</div><div class="col-sm-3">ジャンル：ヒューマンドラマ・ビジネス</div><div class="col-sm-3">投稿者：Koh</div>
   </div>
   
   <div class="row">
     <div class="col-sm-12">この映画以上に人生について考えさせられる映画はない。</div>
     <div class="col-sm-4">作品タイトル：ウルフ・オブ・ウォールストリート</div><div class="col-sm-3">ジャンル：ヒューマンドラマ・ビジネス</div><div class="col-sm-3">投稿者：Koh</div>
   </div>
   
   <div class="row">
     <div class="col-sm-12">この映画以上に人生について考えさせられる映画はない。</div>
     <div class="col-sm-4">作品タイトル：ウルフ・オブ・ウォールストリート</div><div class="col-sm-3">ジャンル：ヒューマンドラマ・ビジネス</div><div class="col-sm-3">投稿者：Koh</div>
   </div>
   
  
   
</div>


<div class="container content-search">
  <div class="row">
  <div class="col-sm-6">
  <h2>映画：ジャンル別に作品を検索する</h2>
  <p>
  <a href="#">SF</a>｜ドキュメンタリー｜アクション｜コメディ｜ラブストーリー｜R指定｜Vシネマ｜クラシック｜アニメ｜ゾンビ｜人類消滅｜シャーク｜カップル向け｜近未来｜アダルト
  </p>
  </div>
  <div class="col-sm-6">
    
  <h2>アニメ：ジャンル別に作品を検索する</h2>
  <p>
  SF｜ドキュメンタリー｜アクション｜コメディ｜ラブストーリー｜R指定｜Vシネマ｜
  </p>
  </div>
  </div>
</div>