<div class="jumbotron">
      <div class="container">
        <h1>今夜見たい作品に出会う旅。</h1>
        <p>人生を変えるきっかけになった作品、みると安らぎを与えてくれる作品、
        自分がこれまで見てきたアニメ・映画などの作品の感想を共有しましょう。
        いますぐReviewを始めれば今夜みたい作品がきっと見つかるはずです。</p>
        <p><a class="btn btn-lg midashi-btn" role="button">Reviewをはじめる &raquo;</a></p>
        <p><a class="btn btn-lg midashi-btn" role="button">Reviewについてもっと知りたい &raquo;</a></p>
      </div>
    </div>