<div class="row">
    <div class="col-sm-3">
        <div class="movie-image">
            <h2>この作品の画像</h2>
        </div>
        <p>この作品を見るならこちら</p>
    </div>
    <div class="col-sm-9 movie-body">
    <h2>タイトル</h2>
    <p><%= @movie.title %></p>
    
    <h2>レビュワーからの評価</h2>
    <p>★★★★★</p>
    <h2>あらすじ</h2>
    <p><%= @movie.story %></p>

    <h2>この作品のレビューを見る</h2>
    <p>レビュー１</p>
    
    <h2>この作品のレビューを見る</h2>
    <p>レビュー１</p>
    
    </div>
    
    
</div>