
<div class="row"></div>
    <div class="col-sm-3 side-menu"><p>プロフィール：<%= @user.profile %></p></div>
    <div class="col-sm-8 profile-body">
    <div class="profile-img"><%= gravatar_for @user %></div><h1><%= @user.name %></h1><%= render 'follow_form' if logged_in? %>
                
                
                
                
                
                <h2>好きな作品</h2>
                
                <h2>好きなカテゴリ</h2>
                
                <h2>フォロー</h2>
                
                <h2>フォロワー</h2>
    </div>
            
