<div class="row">

<% @new_movies.first(4).each do |newmovie| %>
<div class="col-sm-3 new-movie">
<div class="new-movie-image">
    
</div>
<p><%= link_to newmovie.title, newmovie %></p>
</div>
<% end %>

</div>
