@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.main{
  margin-top:20px;
}

input {
  height: auto !important;
}

/* universal */

html{
  height: 100%;
}

body {
  padding-top: 60px;
  background:#f5f5f5;
  height: 100%;
  font-size:14px;
}

header {
  background:#69d3d0;
}

.prologue-area{
  margin-bottom:30px;
}

.prologue-area > .row > .col-sm-7{
  padding:20px;
}

.prologue-area > .row > .col-sm-7 > h1 {
  font-size: 30px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}


#top-image{
  background:#3b4244;
  padding:20px;
  height:300px;
  margin-bottom:20px;
  color:#fff;
}


#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.balloon-area{
  
}

.balloon-area h2{
 font-size:20px;
 
  background:#3b4244;
  color:#fff;
  padding:10px 0 10px 0;
}

.balloon-area > .row > .col-sm-12 {
 font-size:23px;
  background:#fff;
  color:#5a6568;
    margin-bottom:10px;
    padding:10px;
}

.balloon-area > .row {
  margin-bottom:20px;
  color:#96acad;
  font-size:10px;
}


.content-search{
  margin:20px;
}

.content-search h2{
  background:#3b4244;
  color:#fff;
  padding:10px 0 10px 0;
}

.content-search p{
  font-size:16px;
  line-height:1.8em;
  letter-spacing:0.2em;
}



/* ここでフッターの高さを指定 */
footer {
  height: 60px;
  background-color:#69d3d0;
  width:100%;
  padding:20px 0 20px 0;
  margin-top:0px;
  color:#fff;
  text-align:center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */



#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.profile-img{
  float:left;
  margin-bottom:20px;
  margin-right:20px;
}

.profile-body{
  padding:20px;
  background:#fff;
}

.profile-body h1{
  font-size:30px;
  font-weight:bold;
  padding:0;
  letter-spacing:0.2em;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.profile-body h2{
  font-size:18px;
  letter-spacing:0.2em;
  background:#eafffa;
  color:#262821;
  clear:both;
  font-weight:bold;
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.profile-body p{
  margin-bottom:18px;
  margin-left:20px;
  padding-bottom:18px;
}

.balloon-title{
  font-size:24px;
  padding:10px 0 10px 20px;
}

.balloon-box{
  border-top:1px solid #dcdcdc;
  padding:5px 20px 15px 20px;
}

.balloon-image{
  border:1px solid #dcdcdc;
  height:auto;
  width:auto;
  padding:5px;
}

.side-menu{
  padding:10px;
  margin-bottom:20px;
  background:#fff;
}

.side-menu h1{
  font-size:25px;
}

.account-form{
  
}

.btn-primary{
  background:#dc143c;
  font-size:16px;
  border-color:#dc143c;
}

.btn{
  font-size:16px;
  padding:5px 10px 5px 10px;
  text-align:center;
}

.account-form .btn-primary{
  margin-bottom:20px;
}

.account-form h2{
  font-size:20px;
  clear:both;
  font-weight:bold;
  padding:0;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

#follow_form{
  width:260px;
  font-size:20px;
  left:0;
}

.profile-image{
  border-radius: 100%;
  border:1px solid #000;
}

.new-movie{
  
}

.new-movie p{
  font-size:18px;
}

.new-movie-image{
  width:250px;
  height:350px;
  border:1px solid #000;
  background:#ccc;
}

.movie-form-image{
  padding:30px;
  border:20px solid #ccc;
  margin-bottom:20px;
}



/* 作品ページ */

.movie-body{
  background:#fff;
}



.movie-image{
  border:#fff solid 20px;
  height:350px;
  padding:0;
  background:#ccc;
}

.movie-body h1{
  font-size:30px;
  font-weight:bold;
  padding:0;
  letter-spacing:0.2em;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.movie-body h2{
  font-size:18px;
  letter-spacing:0.2em;
  color:#262821;
  clear:both;
  font-weight:bold;
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
  border-bottom:solid #eafffa 10px;
  border-left:solid #eafffa 10px;
}

h2.movie-title{
  font-size:33px;
  padding:15px;
}

.movie-body p{
  margin-bottom:18px;
  margin-left:20px;
  padding-bottom:18px;
}

.movie-form {
  background:#ccc;
  padding:30px 20px;
}


.movie-form input[type="text"],
textarea {
  height:200px;
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
	border:0;
	padding:10px;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#aaa;
	border:solid 1px #ccc;
	margin:0 0 20px;
}
.movie-form input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px #1abc9c;
	border: 1px solid #1abc9c;
	color:#000;
}

.movie-form input[type="submit"],
{
  width:200px;
  height:60px;
  padding:20px;
  text-align : center ;
  margin:0 auto;
}