@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.main{
  margin-top:20px;
}

input {
  height: auto !important;
}

/* universal */

body {
  padding-top: 60px;
  background:#f5f5f5;
}

header {
  background:#dc143c;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */



#header{
  background: #dc143c;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.profile-img{
  float:left;
  margin-bottom:20px;
  margin-right:20px;
}

.profile-body{
  padding-left:20px;
  background:#fff;
  margin-left:20px;
}

.profile-body h1{
  font-size:30px;
  font-weight:bold;
  padding:0;
  letter-spacing:0.2em;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.profile-body h2{
  font-size:20px;
  clear:both;
  font-weight:bold;
  padding:0;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.profile-body p{
  margin-bottom:50px;
  margin-left:10px;
  border-bottom:1px #000 solid;
  padding-bottom:30px;
}

.side-menu{
  border:1px solid #000;
  padding:10px;
  margin-bottom:20px;
  background:#fff;
}

.account-form{
  
}

.btn-primary{
  background:#dc143c;
  padding:10px;
  font-size:16px;
  border-color:#dc143c;
}

.account-form .btn-primary{
  margin-bottom:20px;
}

.account-form h2{
  font-size:20px;
  clear:both;
  font-weight:bold;
  padding:0;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

#follow_form{
  width:300px;
  left:0;
}