
<div class="row">
    <div class="col-sm-12 profile-body">
               
                
                <h2>タイトル</h2>
                <p><%= @review.title %></p>
                
                
                <h2>評論</h2>
                <p><%= @review.content %></p>
                <h2>この作品のカテゴリ</h2>
                <p></p>
                <h2>あらすじ</h2>
                <p><%= @review.story %></p>
                <h2>作品画像</h2>
                <p></p>
                <h2>この作品に対する評価をグラフ表示</h2>
                <p>キャスト・ストーリー・演出・音楽・映像の５項目をレーダーチャートで表示
                chart.jsを使用すればレーダーチャートで表示することが可能。</p>
                <h2>キャスト一覧</h2>
                <p></p>
                
    </div>
</div>          